<div class="loading" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="detail_BG">
  <app-go-back-and-title [title]="pageTitle" (exitClicked)="onExitClick()"></app-go-back-and-title>
</div>
<div class="events">
  <h1>ივენთები</h1>
  <div *ngFor="let event of events ">
    <app-event-card [event]="event"></app-event-card>
  </div>
  <div class="pagination-bot">
    <ngb-pagination
      [collectionSize]="total"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="pageChangeEvent($event)"
    ></ngb-pagination>

    <hr/>
  </div>
</div>
