<div class="forms-content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!--    <div class="error-massage" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">-->
    <!--      <div class="error-divider"></div>-->
    <!--      <h4>Error: First Name is required</h4>-->
    <!--    </div>-->
    <!--    <div class="error-massage" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">-->
    <!--      <div class="error-divider"></div>-->
    <!--      <h4>Error: Last Name is required</h4>-->
    <!--    </div>-->
    <!--    <div class="error-massage" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">-->
    <!--      <div class="error-divider"></div>-->
    <!--      <h4>Error: Email is required</h4>-->
    <!--    </div>-->
    <!--    <div *ngIf="f?.password?.touched && f?.password?.invalid">-->
    <!--      <div class="error-massage" *ngIf="f?.password?.errors?.required">-->
    <!--        <div class="error-divider"></div>-->
    <!--        <h4>Error: Password Is Required</h4>-->
    <!--      </div>-->
    <!--      <div class="error-massage" *ngIf="f?.password?.errors?.minLength">-->
    <!--        <div class="error-divider"></div>-->
    <!--        <h4>Error: Minlength 6 Symbol</h4>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div *ngIf="f?.confirmPassword?.touched && f?.confirmPassword?.invalid">-->
    <!--      <div class="error-massage" *ngIf="f?.confirmPassword?.errors?.required">-->
    <!--        <div class="error-divider"></div>-->
    <!--        <h4>Error: Confirm Password is required</h4>-->
    <!--      </div>-->
    <!--      <div *ngIf="f?.password?.errors?.['confirmedValidator']">-->
    <!--        <div class="error-massage" *ngIf="f?.password?.errors?.required">-->
    <!--          <div class="error-divider"></div>-->
    <!--          <h4>Error: Password and Confirm Password must be match.</h4>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div *ngIf="f?.phone?.touched && f?.phone?.invalid">-->
    <!--      <div class="error-massage" *ngIf="f?.phone?.errors?.required">-->
    <!--        <div class="error-divider"></div>-->
    <!--        <h4>Error: Phone is required</h4>-->
    <!--      </div>-->
    <!--      <div class="error-massage" *ngIf="f?.phone?.errors?.minLength">-->
    <!--        <div class="error-divider"></div>-->
    <!--        <h4>Error: Minlength 6 Symbol</h4>-->
    <!--      </div>-->
    <!--    </div>-->
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('firstName') || isInputValid('firstName'), 'error': isInvalidAndTouched('firstName') }"
      >სახელი
      </label>
      <input
        class="input"
        type="text"
        formControlName="firstName"
        (focus)="onInputFocus('firstName')"
        (blur)="onInputBlur('firstName')">
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('lastName') || isInputValid('lastName'), 'error': isInvalidAndTouched('lastName') }"
      >გვარი
      </label>
      <input
        class="input"
        type="text"
        formControlName="lastName"
        (focus)="onInputFocus('lastName')"
        (blur)="onInputBlur('lastName')"
      >
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('email') || isInputValid('email'), 'error': isInvalidAndTouched('email')  }"
      >მეილი
      </label>
      <input
        class="input"
        type="email"
        formControlName="email"
        (focus)="onInputFocus('email')"
        (blur)="onInputBlur('email')"
      >
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('password') || isInputValid('password'), 'error': isInvalidAndTouched('password')  }"
      >პაროლი
      </label>
      <input
        class="input"
        type="password"
        formControlName="password"
        (focus)="onInputFocus('password')"
        (blur)="onInputBlur('password')">
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('confirmPassword') || isInputValid('confirmPassword'), 'error': isInvalidAndTouched('confirmPassword')  }"
      >გაიმეორეთ პაროლი
      </label>
      <input
        class="input"
        type="password"
        formControlName="confirmPassword"
        (focus)="onInputFocus('confirmPassword')"
        (blur)="onInputBlur('confirmPassword')"
      >
    </div>

    <div class="picker">
      <div class="date-picker-box">
          <label
            class="label"
            [ngClass]="{ 'active': isInputFocusedFn('birthDate') || isInputValid('birthDate'), 'error': isInvalidAndTouched('birthDate') }"
          >დაბადების დღე
          </label>
          <input
            class="input"
            formControlName="birthDate"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
            (focus)="onInputFocus('birthDate')"
            (blur)="onInputBlur('birthDate')"
          />
      </div>
      <button class="btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
        <svg style="color: #ff7010;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-calendar" viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
        </svg>
      </button>
    </div>

    <div class="time-picker custom-input-group">
      <ngb-timepicker
        formControlName="timeOfBirth"
        [(ngModel)]="time">
      </ngb-timepicker
      >
    </div>

    <div class="custom-input-group">
      <label class="label"
             [ngClass]="{ 'active': isInputFocusedFn('country') || isInputValid('country'), 'error': isInvalidAndTouched('country')  }"
      >დაბადების ქვეყანა
      </label>
      <input
        class="input"
        formControlName="country"
        (focus)="onInputFocus('country')"
        (blur)="onInputBlur('country')"
      >
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('city') || isInputValid('city'), 'error': isInvalidAndTouched('city')  }"
      >დაბადების ქალაქი
      </label>
      <input
        class="input"
        formControlName="city"
        (focus)="onInputFocus('city')"
        (blur)="onInputBlur('city')"
      >
    </div>

    <div class="custom-input-group">
      <label
        class="label"
        [ngClass]="{ 'active': isInputFocusedFn('phoneNumber') || isInputValid('phoneNumber'), 'error': isInvalidAndTouched('phoneNumber')  }"
      >მობილურის ნომერი
      </label>
      <input
        class="input"
        formControlName="phoneNumber"
        (focus)="onInputFocus('phoneNumber')"
        (blur)="onInputBlur('phoneNumber')">
    </div>

    <button
      [disabled]="form.invalid"
      class="btn"
      type="submit">Register
    </button>
  </form>
</div>
