<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()">
<!--    <div class="error-massage" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">-->
<!--      <div class="error-divider"></div>-->
<!--      <h4>Error: First Name is required</h4>-->
<!--    </div>-->
<!--    <div class="error-massage" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">-->
<!--      <div class="error-divider"></div>-->
<!--      <h4>Error: Last Name is required</h4>-->
<!--    </div>-->
<!--    <div class="error-massage" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">-->
<!--      <div class="error-divider"></div>-->
<!--      <h4>Error: Email is required</h4>-->
<!--    </div>-->
<!--    <div *ngIf="f?.password?.touched && f?.password?.invalid">-->
<!--      <div class="error-massage" *ngIf="f?.password?.errors?.required">-->
<!--        <div class="error-divider"></div>-->
<!--        <h4>Error: Password Is Required</h4>-->
<!--      </div>-->
<!--      <div class="error-massage" *ngIf="f?.password?.errors?.minLength">-->
<!--        <div class="error-divider"></div>-->
<!--        <h4>Error: Minlength 6 Symbol</h4>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="f?.confirmPassword?.touched && f?.confirmPassword?.invalid">-->
<!--      <div class="error-massage" *ngIf="f?.confirmPassword?.errors?.required">-->
<!--        <div class="error-divider"></div>-->
<!--        <h4>Error: Confirm Password is required</h4>-->
<!--      </div>-->
<!--      <div *ngIf="f?.password?.errors?.['confirmedValidator']">-->
<!--        <div class="error-massage" *ngIf="f?.password?.errors?.required">-->
<!--          <div class="error-divider"></div>-->
<!--          <h4>Error: Password and Confirm Password must be match.</h4>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="f?.phone?.touched && f?.phone?.invalid">-->
<!--      <div class="error-massage" *ngIf="f?.phone?.errors?.required">-->
<!--        <div class="error-divider"></div>-->
<!--        <h4>Error: Phone is required</h4>-->
<!--      </div>-->
<!--      <div class="error-massage" *ngIf="f?.phone?.errors?.minLength">-->
<!--        <div class="error-divider"></div>-->
<!--        <h4>Error: Minlength 6 Symbol</h4>-->
<!--      </div>-->
<!--    </div>-->
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div class="input-group input-group-lg">
      <label>First Name</label>
      <input class="login-input" type="text" formControlName="firstName">
    </div>
    <div class="input-group input-group-lg">
      <label>Last Name</label>
      <input class="login-input" type="text" formControlName="lastName">
    </div>
    <div class="input-group input-group-lg">
      <label>PLease Enter Your Email Address</label>
      <input class="login-input" type="email" formControlName="email">
    </div>
    <div class="input-group input-group-lg">
      <label>Password</label>
      <input class="login-input" type="password" formControlName="password">
    </div>
    <div class="input-group input-group-lg">
      <label>Confirm Password</label>
      <input class="login-input" type="password" formControlName="confirmPassword">
    </div>
    <div class="picker">
      <div class="input-group input-group-lg date-picker-box">
        <label>Birth Date</label>
        <div class="date-picker">
          <button  class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
            <svg style="color: #ff7010;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
          </button>
          <input
            class="login-input"
            formControlName="birthDate"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />

        </div>
      </div>
      <div class="time-picker input-group input-group-lg">
        <label>Time of Birth</label>
        <ngb-timepicker formControlName="timeOfBirth" [(ngModel)]="time"></ngb-timepicker>
      </div>
    </div>

    <div class="input-group input-group-lg">
      <label>Country</label>
      <input class="login-input" formControlName="country">
    </div>
    <div class="input-group input-group-lg">
      <label>City</label>
      <input class="login-input" formControlName="city">
    </div>
    <div class="input-group input-group-lg">
      <label>Enter Your Phone Number</label>
      <input class="login-input" formControlName="phoneNumber">
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary w-50 py-2 sing_in" type="submit">Register</button>
  </form>
</div>
