.prognoses-box {
  width: 300px;
  height: 400px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    .prognoses-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 30px #690f0f;
    }

    .prognoses-title {

    }

  }
}
