.prognoses-box {
  width: 300px;
  height: 400px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    .prognoses-img {
      width: 100%;
      height: 100%;
      border-radius: 20%;
      box-shadow: 0 0 30px #6a6a7f;
    }

    .prognoses-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 14px;
      }
    }

  }
}
