.container {
  background-color: #07273c;

  header {
    width: 100%;
    height: 147px;
    display: flex;
    a {
      width: 100px;
      border-right: #17384e solid 0.5px;
    }
    .logo {
    }

    .header {
      width: 100%;
      padding: 0 0 0 20px;
      .header_top {
        padding: 10px 0 0 0;
        h4 {
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.8;
          color: #e5f0f5;
          &:hover {
            background-color: #ff7010;
          }
        }
      }
      .header_bottom {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        .btn_menu {
          display: flex;
          position: sticky;
          top: 0;
          z-index: 100; // Ensures that it stays on top of other content
          transition: background-color 0.3s ease; // For a smooth transition
        }
        .search {
          margin-left: 10px;
        }
        div {
          span {
            width: 15px;
            height: 2px;
            background: #ffffff;
            display: block;
            position: relative;
            margin-top: 3px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.line {
  width: 25px;
  height: 4px;
  background-color: #ffffff; /* Adjust as needed */
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.isSidebarOpen .line1 {
  transform: rotate(45deg);
  top: 8px;
  left: 3px;
}

.isSidebarOpen .line2 {
  opacity: 0;
}

.isSidebarOpen .line3 {
  transform: rotate(-45deg);
  bottom: 8px;
  left: 3px;
}
.sidebar {
  width: 250px; /* Set your desired width */
  height: 100%; /* Set your desired height */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0; /* Set your desired background color */
  z-index: 1000; /* Set an appropriate z-index value */
  transition: transform 0.3s ease;
}

.sidebar-open {
  transform: translateX(0);
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
.flex-column {
  background-color: #17384e;
  height: 100vh;
}

.sidebar-closed {
  transform: translateX(-100%);
}
.active-link {
  color: #ff7010 !important;
}
.header_bottom.scrolled {
  background-color: rgba(0, 0, 0, 1); // Or whatever your desired opaque color is.
}
