<div class="sidebar" [@openClose]="isSidebarOpen ? 'open' : 'closed'">
  <div class="d-flex flex-column flex-shrink-0 p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/articles" class="nav-link text-white">
          Articles
        </a>
      </li>
      <li>
        <a routerLink="/daily-horoscope" class="nav-link text-white">
          Week Horoscope
        </a>
      </li>
      <li>
        <a href="/events" class="nav-link text-white">
          Events
        </a>
      </li>
      <li>
        <a routerLink="/contact" class="nav-link text-white">
          Contact
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>
<div class="container">
  <header>
    <a routerLink="/">
      <div class="logo">
      </div>
    </a>
    <div class="header">
      <div class="header_top">
        <h4>+995-599-70-73-92 </h4>
        <h4>Support@gmail.com</h4>
      </div>
      <div class="header_bottom">
        <div>
          <button routerLink="/auth/login" class="btn_radius">
            <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
          </button>
          <button routerLink="/auth/register" class="btn_radius">
            <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
          </button>
        </div>
        <div>
          <button  class="menu btn_radius" (click)="toggleSidebar()">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <button class="search btn_radius">
            <img src="" alt="">
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
