<div class="container">
  <header>
    <a routerLink="/">
      <div class="logo">

      </div>
    </a>
    <div class="header">
      <div class="header_top">
        <h4>+995-599-70-73-92 </h4>
        <h4>Support@gmail.com</h4>
      </div>
      <div class="header_bottom">
        <div>
          <button class="btn_radius">
            <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
          </button>
        </div>
        <div>
          <button class="menu btn_radius">
            <img src="" alt="">
          </button>
          <button class="search btn_radius">
            <img src="" alt="">
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
