.container {

  .fixed {
    width: 100%;
    position: fixed;
    background-color: var(--Background, #011627);
    border-bottom: 1px solid #17384e;
    display: flex;
    padding: 49px 0 16px 15px;
    justify-content: center;
    align-items: center;
    gap: 84px;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 1;
    animation: slideOut 0.5s ease-in-out forwards;
    z-index: 10001;

    .fixed.hidden {
      animation: slideIn 0.5s ease-in-out forwards;
    }

    a {
      h2 {
        color: var(--Headings, #FF6E40);
        font-size: 27.4px;
        font-style: normal;
        font-weight: 700;
        line-height: 32.93px; /* 120.182% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
    }


    .btn_menu {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 100;
      transition: background-color 0.3s ease;
    }

    div {
      span {
        width: 15px;
        height: 2px;
        background: #ffffff;
        display: block;
        position: relative;
        margin-top: 3px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.line {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.isSidebarOpen .line1 {
  transform: rotate(45deg);
  top: 0;
  left: 3px;
}

.isSidebarOpen .line2 {
  opacity: 0;
}

.isSidebarOpen .line3 {
  transform: rotate(-45deg);
  bottom: 0;
  left: 3px;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 10001;
  transition: transform 0.3s ease;
}

.log-out {
  margin-bottom: 50px;
}

.sidebar-open {
  transform: translateX(0);
  position: sticky;
}

.flex-column {
  background-color: #17384e;
  height: 100vh;
}

.sidebar-closed {
  transform: translateX(-100%);
}

.active-link {
  color: #ff7010 !important;
}

.header_bottom.scrolled {
  background-color: rgba(0, 0, 0, 1);
}


@keyframes slideIn {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
