<div class="sidebar" [@openClose]="isSidebarOpen ? 'open' : 'closed'">
  <div class="d-flex flex-column flex-shrink-0 p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
           class="nav-link text-white">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/blogs" routerLinkActive="active-link" class="nav-link text-white">
          Blogs
        </a>
      </li>
      <li>
        <a routerLink="/prognoses" routerLinkActive="active-link" class="nav-link text-white">
          Prognoses
        </a>
      </li>
      <li>
        <a routerLink="/events" routerLinkActive="active-link" class="nav-link text-white">
          Events
        </a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active-link" class="nav-link text-white">
          Contact
        </a>
      </li>
    </ul>
    <hr>

    <ng-container *ngIf="userIsAuthenticated">
      <div class="log-out">
        <li>
          <a routerLink="/auth/change-password" class="nav-link text-white">
            Change Password
          </a>
        </li>

        <li>
          <a (click)="signOut()" routerLink="/" class="nav-link text-white">
            Sign Out
          </a>
        </li>
      </div>
    </ng-container>
  </div>
</div>
<div class="container">
  <header class="fixed" *ngIf="isHeaderVisible">
    <a routerLink="/">
      <h2>STARCOUNTER</h2>
    </a>
    <div class="btn_menu">
      <button
        class="menu btn"
        (click)="toggleSidebar($event)"
        [class.scrolled]="isScrolled"
        [ngClass]="{'isSidebarOpen': isSidebarOpen}"
      >
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </button>
    </div>
  </header>
</div>
