.content {
  .radio {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .remember-me {
    }
  }
}

.btn {
  right: 0;
  color: #FFFFFF;
  width: 146px;
  height: 32px;
  padding: 2px 10px 2px 10px;
  border-radius: 13px;
  gap: 10px;
  background: rgba(255, 110, 64, 1);
}

label {
  font-size: 14px!important;
}


.error-divider {
  display: flex;
  width: 2px;
  background-color: #ff7010;
  height: 50px;
}

.error-massage {
  height: 50px;
  gap: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 40px 0;
}
