.profile {
  background-color: #07273c;

  .profile-content {
    header {
      padding-top: 15px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: unset;
        margin: unset;

        li {
          a {

            font-size: 0.9rem;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

.active-link {
  color: #ff7010 !important;
  background-color: #17384e
}

.slider {
  position: relative;
}
