<div class="forms-content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>
    <div class="input-group input-group-lg">
      <label>PLease Enter Your Current Password</label>
      <input class="login-input" type="password" formControlName="currentPassword">
    </div>
    <div class="input-group input-group-lg">
      <label>PLease Enter Your New Password</label>
      <input class="login-input" type="password" formControlName="newPassword">
    </div>
    <div class="input-group input-group-lg">
      <label>Confirm Password</label>
      <input class="login-input" type="password" formControlName="confirmPassword">
    </div>
    <button class="btn btn-primary w-50 py-2 text-btn" type="submit">Change Password</button>
  </form>
</div>
