.subscribe-section {
  background: rgba(27, 43, 64, 1);
  width: 366px;
  top: 3419px;
  left: 12px;
  padding: 9px 10px 9px 10px;
  border-radius: 13px;
  gap: 28px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 25px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 15px;
    }

    h1 {
      font-family: 'Philosopher', sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 1.5px;
      text-align: left;
      color: rgba(255, 110, 64, 1);
    }

    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 1.5px;
      text-align: left;

    }

    .btn {
      right: 0;
      color: #FFFFFF;
      width: 146px;
      height: 32px;
      padding: 2px 10px 2px 10px;
      border-radius: 13px;
      gap: 10px;
      background: rgba(255, 110, 64, 1);
    }
  }
}
