<div class="subscribe-section">
  <div>
    <h1>გამოიწერე სიახლეები</h1>
    <h4>Get Your Daily Horoscope, Daily Lovescope and Daily Tarot Directly In Your Inbox</h4>
    <form [formGroup]="form" (ngSubmit)="submit()" class="content login-input">
      <div class="error-massage" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <div class="error-divider">ჩაწერეთ მეილი</div>

      </div>
      <div class="custom-input-group">
        <label
          class="label"
          [ngClass]="{ 'active': isInputFocusedFn('email') || isInputValid('email'), 'error': isInvalidAndTouched('email')  }"
        >მეილი
        </label>
        <input
          class="input"
          type="email"
          formControlName="email"
          (focus)="onInputFocus('email')"
          (blur)="onInputBlur('email')"
        >
      </div>

      <button
        [disabled]="form.invalid"
        class="btn"
        type="submit">Subscribe Now
      </button>
    </form>
  </div>
</div>
