.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  background-color: rgba(23, 56, 78, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  .full-screen-modal-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    background-color: #17384e;
  }
}


.btn-link {
  color: #ff7010!important;
}
.borderEnd {
  border-top: #ff7010 solid 1px;
  border-right: #ff7010 solid 1px;
}
.borderTop {
  border-top: #ff7010 solid 1px;
}
h5, p {
  color: #ff7010;
}
