.blog-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: rgba(27, 43, 64, 1);
  padding: 40px 15px 75px 15px;
  h1 {
    color: rgba(255, 110, 64, 1);
  }
}
.btn-detail {
  border: none;
  right: 0;
  color: #FFFFFF;
  width: 146px;
  height: 32px;
  padding: 2px 10px 2px 10px;
  border-radius: 13px!important;
  background: rgba(255, 110, 64, 1);
}
