<div class="loading" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="detail_BG">
  <app-go-back-and-title [title]="pageTitle" (exitClicked)="onExitClick()"></app-go-back-and-title>
</div>
<div class="blog-detail">

  <div class="text">
    <div class="title">
      <div>
        <h3>ფასი:
          <span>{{form.get('price')?.value}}</span>
        </h3>
      </div>
    </div>
    <ul>
      <li>
        <div><i class="far fa-list-alt"></i></div>
        <div class="organize">
          <h5>ორგანიზატორი: </h5>
          <h4>{{form.get('organizedBy')?.value}}</h4>
        </div>
      </li>
      <li class="mep_list_location_name">
        <div class="evl-ico"><i class="fas fa-map-marker-alt"></i></div>
        <div class="organize">
          <h5>მისამართ: </h5>
          <h4>{{form.get('location')?.value}}</h4>
        </div>
      </li>
      <li class="mep_list_event_date">
        <div class="evl-ico"><i class="fa fa-calendar"></i></div>
        <div class="organize">
          <h4>{{form.get('startDate')?.value | date: 'yyyy-MM-dd'}}</h4>
          <p>-</p>
          <h4>{{form.get('endDate')?.value | date: 'yyyy-MM-dd'}}</h4>
        </div>
      </li>
    </ul>
  </div>
  <h1>
    {{form.get('name')?.value}}
  </h1>
  <h3>
    {{form.get('description')?.value}}
  </h3>
<!--  <ng-container *ngIf="userToken">-->
<!--    <button-->
<!--      (click)="openConfirmModal()"-->
<!--      class="btn-detail"-->
<!--      type="submit">Register-->
<!--    </button>-->
<!--  </ng-container>-->
<!--  <ng-container *ngIf="!userToken">-->
<!--    <a routerLink="/auth/login">login</a>-->
<!--  </ng-container>-->
<!--  <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">-->
<!--    <button-->
<!--      (click)="openConfirmModal()"-->
<!--      class="btn-detail"-->
<!--      type="submit">Register-->
<!--    </button>-->

<!--  </ng-container>-->
  <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">
    <!-- Check if the user is subscribed to the event -->
    <ng-container *ngIf="isUserSubscribedToEvent(); else subscribed">
      <!-- Show the button to register for the event -->
      <button
        (click)="openConfirmModal()"
        class="btn-detail"
        type="submit">Register
      </button>
    </ng-container>
  </ng-container>

  <ng-template #subscribed>
    <!-- Show a message if the user is already subscribed -->
    <p>თქვენ უკვე რეგისტრირებული ხართ.</p>
    <!-- Provide a button to navigate to my-lectures page -->
    <button
      routerLink="/profile/my-lectures"
      class="btn-detail">ჩემი ივენთები
    </button>
  </ng-template>
  <ng-template #notAuthenticated>
    <p>რეგისტრაცისთვის გაიარეთ აუტორიზაცია</p>
    <button
      routerLink="/auth/login"
      class="btn-detail">login
    </button>
  </ng-template>
</div>

<app-modal *ngIf="showModal" (confirmEvent)="onModalConfirm($event)"></app-modal>
