<div class="content">
  <form class="form" [formGroup]="form">
    <div class="input-group input-group-lg">
      <label>First Name</label>
      <input class="login-input" type="text" formControlName="firstName" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>Last Name</label>
      <input class="login-input" type="text" formControlName="lastName" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>PLease Enter Your Email Address</label>
      <input class="login-input" type="email" formControlName="email" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>Birth Date</label>
      <input class="login-input" formControlName="birthDate" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>Time of Birth</label>
      <input class="login-input" formControlName="timeOfBirth" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>Country</label>
      <input class="login-input" formControlName="country" [disabled]="!isEditMode">
    </div>
    <div class="input-group input-group-lg">
      <label>City</label>
      <input class="login-input" formControlName="city" [disabled]="!isEditMode">
    </div>
    <div class="action-section" >
      <button class="btn btn-primary w-50 py-2 sing_in" (click)="toggleEdit()">
        Edit
      </button>
      <button [disabled]="!isEditMode || form.invalid" class="btn btn-primary w-50 py-2 sing_in" (click)="onSubmit()">Save</button>
    </div>
  </form>
</div>
