.daily-content {
  padding: 80px 10px 30px;
  background-color: #17384e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 425px;

  .weekly-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 120px;

    .weekly-img {
      background-size: cover;
      background-position: center;
      width: 80px;
      height: 80px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #10334a;
    }
  }
}
