<ng-container>
  <div class="loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!isLoading" class="blog-content">
    <h1>ბლოგი</h1>
    <app-blog-card *ngFor="let blog of blogs" [blog]="blog"></app-blog-card>
  </div>
  <div class="events">
    <h1>ივენთები</h1>
    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
  </div>
  <div class="daily-content container">
    <div class="weekly-box" *ngFor="let weekly of weeklies">
      <div [ngStyle]="{
  'background-image': 'url(https://tse2.mm.bing.net/th?id=OIP.1pIa5oCDnltbnkoJM2RqNwHaH_&pid=Api&P=0&h=180)'
  }" class="weekly-img"
      >
      </div>
      <h3>{{weekly.name}}</h3>
    </div>
  </div>
</ng-container>
