<ng-container>
  <div class="loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="slider">
    <app-slider></app-slider>
  </div>

  <div *ngIf="!isLoading" class="blog-content">
    <h1>ბლოგი</h1>
    <app-blog-card *ngFor="let blog of blogs" [blog]="blog"></app-blog-card>
  </div>
  <div class="events">
    <h1>ივენთები</h1>
    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
  </div>
  <div class="daily-content container">
    <div class="prognoses-content">
      <div class="prognoses-slider" style="height: 600px; overflow-y: auto;">
<!--        <app-prognoses-card class="prognos-card" *ngFor="let prognos of prognoses$" [prognoses]="prognos"></app-prognoses-card>-->
      </div>
    </div>
  </div>
</ng-container>
