<ng-container>
  <div class="loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="detail_BG">
    <app-go-back-and-title [title]="pageTitle" (exitClicked)="onExitClick()"></app-go-back-and-title>
  </div>
  <div class="prognoses-content">
    <div class="prognoses-slider" style="height: 600px; overflow-y: auto;">
      <app-prognoses-card class="prognos-card" *ngFor="let prognos of prognoses"
                          [prognoses]="prognos"></app-prognoses-card>
    </div>
  </div>
</ng-container>

