<ng-container>
  <div class="loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="prognoses-content">
    <header>
      <div class="prognoses-header">
        <a *ngFor="let category of categories$ | async"
           [id]="category.id"
           routerLinkActive="active-link"
           class="list-group-item list-group-item-action"
           (click)="contentChange($event)"
           [class.active-link]="category.id === categoryId"
        >{{category.name}}</a>
      </div>
    </header>
    <div class="prognoses-slider" style="height: 600px; overflow-y: auto;">
      <app-prognoses-card
        class="prognos-card"
        *ngFor="let prognos of prognoses"
        [prognoses]="prognos">
      </app-prognoses-card>
    </div>
  </div>
</ng-container>

