/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";


container {
  max-width: 425px;
  margin: 0;
  padding: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, a, label, {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
}

li {
  list-style: none;
}
.btn_radius {
  width: 50px!important;
  height: 50px;
  border-radius: 50%;
  background-color: #17384e;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.divider {
  width: 170px;
  height: 2px;
  background-color: #ff7010;
  margin-bottom: 15px;
}

.detail_BG {
  background-color: #031a2a;

  .title {
    height: 177px;
    padding: 36px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    .go_back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 45px;
      border-radius: 100px;
      border: none;
      background-color: rgb(255 255 255 / 10%);
    }

  }
}

.content {
  padding: 21px 30px 30px;
  margin: 0 0 45px;
  text-align: left;
  border-radius: 0;
  background-color: #17384e;
  border: none;
  display: flex;
  flex-wrap: wrap;

  .login-input {
    width: 345px;
    padding: 10px;
    border: none;
    background: #10334a;
    color: #FFFFFF;
    outline: none;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  .sing_in {
    min-width: 170px;
    font-size: 16px;
    font-weight: 500;
    background: #ff7010 !important;
    min-height: 50px;
    border: none;
    border-radius: 0 !important;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
  }
}

.error-divider {
  display: flex;
  width: 2px;
  background-color: #ff7010;
  height: 50px;
}

.error-massage {
  height: 50px;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 40px 0;
  margin: 10px 0;
}

.input-group {
  margin-bottom: 15px;
}

.blog-content {
  padding: 80px 10px 30px;
  background-color: #07273c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  .blog-box {
    width: 385px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07273c;

    border: 1px solid rgb(255 255 255 / 8%);
    margin-bottom: 80px;

    .blog-img {
      background-size: cover;
      background-position: center center;
      width: 385px;
      height: 250px;
      position: relative;
      transition: all 0.5s ease-in-out;
    }
  }
}

