/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";


container {
  max-width: 425px;
  margin: 0;
  padding: 10px 0;
}
h1, h2, h3, h4, h5, h6, p, a, label {
  color: #ffffff;
  text-decoration: none;
}
.btn_radius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #17384e;
  border: none;
}

.divider {
  width: 170px;
  height: 2px;
  background-color: #ff7010;
  margin-bottom: 15px;
}
.detail_BG {
  background-color: #031a2a;
  .title {
    height: 177px;
    padding: 36px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    .go_back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 45px;
      border-radius: 100px;
      border: none;
      background-color: rgb(255 255 255 / 10%);
    }

  }
}

.input-group {
  margin-bottom: 15px;
  .form-control{
    color: #ffffff;
    background-color: #17384e;
    border: none;
    border-radius: 0;
  }
}
