/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";


container {
  max-width: 425px;
  margin: 0;
  padding: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, a, label, {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1.5px;
}

li {
  list-style: none;
}

.btn_radius {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  background-color: #17384e;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.divider {
  width: 170px;
  height: 2px;
  background-color: #ff7010;
  margin-bottom: 15px;
}

.content {
  padding: 21px 30px 30px;
  margin: 0 0 45px;
  text-align: left;
  border-radius: 0;
  background-color: #17384e;
  border: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    color: #ff7010;
    margin-bottom: 25px;
  }

  .input_row {
    display: flex;
    justify-content: space-between;

    .short_input {
      max-width: 150px;
      padding: 10px;
      border: none;
      background: #10334a;
      color: #FFFFFF;
      outline: none;
    }
  }

  .login-input {
    width: 100%;
    padding: 10px;
    border: none;
    background: #10334a;
    color: #FFFFFF;
    outline: none;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }
}


.sing_in {
  min-width: 170px;
  font-size: 16px;
  font-weight: 500;
  background: #ff7010 !important;
  min-height: 50px;
  border: none;
  border-radius: 0 !important;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}

.error-divider {
  display: flex;
  width: 2px;
  background-color: #ff7010;
  height: 50px;
}

.error-massage {
  height: 50px;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 40px 0;
  margin: 10px 0;
}


.input-group-custom {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-content {
  padding: 80px 10px 30px;
  background-color: #07273c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  h1 {
    color: #ff7010;
    font-size: 2rem;
  }
}

.blog-box {
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #07273c;
  border: 1px solid rgb(255 255 255 / 8%);
  margin-bottom: 80px;

  a {
    position: relative;

    .blog-img {
      background-size: cover;
      background-position: center center;
      width: 385px;
      position: relative;
      transition: all 0.5s ease-in-out;
      object-fit: cover
    }

    .date_box {
      position: absolute;
      font-weight: 500;
      bottom: 105px;
      right: 15px;
      background-color: #ff7010;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 13px 10px;
      display: inline-block;
      text-align: center;
      min-height: auto;
      min-width: 150px;
      text-transform: uppercase;

      h2 {
        margin: unset;
      }
    }

    .title {
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .al-sm-icon {
        h4 {
          font-size: 0.9rem;
          margin: unset;

          span {
            color: #ff7010;
            font-size: 1.1rem;
          }
        }

        display: flex;
        gap: 10px;

        svg {
          fill: #ff7010;
          width: 20px
        }
      }

      h2 {

      }
    }

  }
}

/* loading */

.loading {
  height: 100vh;
}

/* event card  */

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  background-image: url('/assets/images/bg1.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 10px 30px;
  background-color: #07273c;

  h1 {
    color: #ff7010;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}

.event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #07273c;
  border: 1px solid rgb(255 255 255 / 8%);
  margin-bottom: 80px;

  a {
    .event-img {
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 385px;
      max-height: 300px;
      object-fit: cover;
    }

    .text {
      padding: 15px;

      .title {
        width: 100%;

        h2 {
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;
        }

        div {
          display: flex;

          h3 {
            line-height: 25px;
            font-size: 13px !important;
            font-weight: bold;
            margin-top: 15px;

            span {
              width: auto;
              height: auto;
              background: #031a2a;
              color: #ff7010;
              padding: 5px 20px;
              border-radius: 50px;
              margin-left: 5px;
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }

      ul {
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          display: flex;
          gap: 10px;

          div {
            i {
              color: #ff7010;
            }
          }

          .organize {
            display: flex;
            align-items: center;
            gap: 10px;

            h5 {
              font-weight: 400;
              line-height: 24px;
              font-size: 12px !important;
            }

            h6 {
              font-weight: 400;
              line-height: 24px;
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}

/* prognoses */

.prognoses-content {
  padding: 80px 10px 30px;
  background-color: #07273c;
  background-image: url('/assets/images/bg1.jpg');
  justify-content: center;

  .prognoses-slider {
    display: flex;
    gap: 25px;
    width: 400px;
    margin: auto;
    padding: 25px;
  }

  .prognos-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* slider */

.slide {
  height: 400px;
}



