.carousel-inner {
  border-radius: 8px;
}

.carousel-item {
  border-radius: 8px;
}

img {
  position: relative;
  width: 350px;
  border-radius: 8px;
}

.slider-title {
  position: absolute;
  display: flex;
  width: 317px;
  height: 46px;
  min-width: 150px;
  background: var(--Headings, #FF6E40);
  padding: 13px 10.49px 13px 10.69px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 21px;
  border-radius: 0 8px 8px 0;
  background: rgba(221, 90, 1, 0.70);

  h2 {
    color: #F2F0ED;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.93px; /* 156.81% */
    letter-spacing: 1.5px;
  }
}
