<div #myCarousel id="articleSlider" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class=""
      aria-label="Slide 1">
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="">
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="active"
      aria-current="true">
    </button>
    <a class="carousel-control-prev" role="button" data-slide="prev" (click)="previousSlide()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next" (click)="nextSlide()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
  <div id="carouselExampleDark" class="carousel-inner">
    <div *ngFor="let article of articles; let i = index" class="carousel-item" [class.active]="i === activeSlideIndex">
      <a [href]="[article.url]">
        <img [src]="'https://api-starcounter.com/' + article.files" alt="{{ article.description }}"
             class="d-block">
        <div class="slider-title">
          <h2>{{ article.description }}</h2>
        </div>
      </a>
    </div>
  </div>
</div>
