<footer>
  <div class="footer">
    <app-subscribe></app-subscribe>
  </div>
  <div class="footer_bottom">
    <div class="auth">
      <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">
        <div class="login">
          <h2 class="orange">{{translatedCard}}</h2>

          <div class="orange">
            <a [routerLink]="['/profile/my-profile/', userId]">
              პროფილი
            </a>
          </div>
        </div>

      </ng-container>
      <ng-template #notAuthenticated>
        <div class="login">
          <a routerLink="/auth/login">
            login
          </a>
          <a routerLink="/auth/register">
            register
          </a>
        </div>
      </ng-template>
    </div>
    <div class="soc-media">
      <div class="soc-media-icons facebook">
        <a href="https://www.facebook.com/profile.php?id=100063601327492" class="icon" target="_blank">
          <i class="fab fa-facebook-f fa-2x" style="color: #FFFFFF; width: 13px; height: 24px"></i>
        </a>
      </div>
      <div class="soc-media-icons instagram">
        <a href="https://www.instagram.com/astrology.starcounter/?hl=en" target="_blank">
          <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
        </a>
      </div>
      <div>
        <a href="https://wa.me/+995599707392" target="_blank">
          <i class="fab fa-whatsapp fa-2x" style="color: #25d366;"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
