<footer>
  <div class="footer">
    <div class="footer_top">
      <div>
        <h1>Our Newsletter</h1>
        <div class="divider"></div>
        <h4>Get Your Daily Horoscope, Daily Lovescope and Daily Tarot Directly In Your Inbox</h4>
        <form [formGroup]="form" (ngSubmit)="submit()" class="content login-input">
          <div class="error-massage" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <div class="error-divider"></div>
            <h4>Error: Email is required</h4>
          </div>
          <label>Enter Your Email Here</label>
          <input class="login-input" type="email" formControlName="email">
        </form>
        <button class="btn" type="submit">
          subscribe now
        </button>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="follow_us">
        <div>
          <h4>Follow Us</h4>
          <div class="soc-media">
            <button class="btn_radius">
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
            </button>
            <button class="btn_radius">
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
            </button>
            <button class="btn_radius">
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
            </button>
            <button class="btn_radius">
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
            </button>
            <button class="btn_radius">
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="footer_li">
        <h3>Our Services</h3>
        <div class="divider"></div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Horoscopes</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Gemstones</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Numerology</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Tarot Cards</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Birth Journal</a>
        </div>
      </div>
      <div class="footer_li">
        <h3>Quick Links</h3>
        <div class="divider"></div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">About Us</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Blog</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Astrologers</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Appointment</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Contact Us</a>
        </div>
      </div>
      <div class="footer_li">
        <h3>Contact Us</h3>
        <div class="divider"></div>
        <div class="footer_li_box">
          <div class="point"></div>
          <a routerLink="/horscopes">Gotham Hall, 1356 Brodway squore, NY 10018, California, USA</a>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <div>
            <a routerLink="/horscopes">astrology@example.com</a>
            <a routerLink="/horscopes">astro@example.com</a>
          </div>
        </div>
        <div class="footer_li_box">
          <div class="point"></div>
          <div>
            <a routerLink="/horscopes">+(91)1800-124-105</a>
            <a routerLink="/horscopes">+(91)1800-326-324</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <h2>Copyright © 2023 Astrology. All Right Reserved.</h2>
  </div>
</footer>
