<div class="loading" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="detail_BG">
  <app-go-back-and-title [title]="pageTitle" (exitClicked)="onExitClick()"></app-go-back-and-title>
</div>
<div class="blog-content">
  <h1>ბლოგები</h1>
  <div *ngFor="let blog of pagedBlogs">
    <!-- Your existing blog card component -->
    <app-blog-card [blog]="blog"></app-blog-card>
  </div>
  <div class="pagination-bot">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalBlogs"
      (pageChange)="pageChanged()"
    ></ngb-pagination>

    <hr />
  </div>
</div>

